.choose {
  padding: 100px 0 150px;
}

.tabs {
  margin-bottom: 70px;
}

.tabs__btn {
  padding: 0 150px 100px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.tabs__btn-item {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.tabs__btn-item--active {
  color: #0066ff;
}

.tabs__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.tabs__content-item.tabs__content-item--active {
  display: grid;
}

.card {
  text-align: center;
  margin-bottom: 100px;
}

.card-img {
  display: block;
}

.card__content {
  padding: 0 5px;
  border: 1px solid #0066ff;
  border-top: 0;
}

.card__title {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 5px;
}

.cart__text {
  margin-bottom: 20px;
}

.card__price {
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.card__link {
  display: block;
  color: #0066ff;
  border: 1px solid #0066ff;
  border-top: 0;
}

.card-img {
  width: 100%;
}

@media (max-width: 1180px) {
  .tabs__content-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1040px) {
  .tabs__btn {
    padding: 0 0 50px;
    gap: 20px;
  }
}

@media (max-width: 860px) {
  .tabs__content-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .tabs__content-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs__btn-item {
    font-size: 18px;
  }
  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 540px) {
  .tabs__btn {
    flex-direction: column;
  }
  .choose {
    padding: 50px 0;
  }
  .card {
    margin-bottom: 40px;
  }
  .blog {
    padding-bottom: 50px;
  }
}
