.choose {
  padding: 100px 0 150px;
}

.tabs {
  margin-bottom: 70px;
}

.tabs__btn {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 100px;
}

.tabs__btn-item {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.tabs__btn-item--active {
  color: #0066ff;
}

.tabs__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.tabs__content-item.tabs__content-item--active {
  display: grid;
}

.card {
  text-align: center;
  margin-bottom: 100px;
}

.card-img {
  display: block;
}

.card__content {
  padding: 0 5px;
  border: 1px solid #0066ff;
  border-top: 0;
}

.card__title {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 5px;
}

.cart__text {
  margin-bottom: 20px;
}

.card__price {
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.card__link {
  display: block;
  color: #0066ff;
  border: 1px solid #0066ff;
  border-top: 0;
}
